.controls button.play {
    background: url("./images/play.png") center no-repeat;
}

.controls button.pause {
    background: url("images/pause.svg") center no-repeat;
}

.controls button.previous {
    background: url("images/arrow-left.svg") center no-repeat;
}

.controls button.next {
    background: url("images/arrow-right.svg") center no-repeat;
}

.controls button.shuffle {
    background: url("images/random-solid.svg") center no-repeat;
}

.controls button.repeat {
    background: url("images/redo.svg") center no-repeat;
}